<div *ngIf="!formulario">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <mat-label>Aguarde.......</mat-label>
</div>

<div *ngIf="formulario">
<mat-card class="card">
  <mat-card-title>Atualizar Cadastro</mat-card-title>
  <mat-card-subtitle>Atualização do cadastro</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>
<form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
    <div>
      <mat-form-field appearance="fill" class="formulario">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="nome" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formulario">
        <mat-label>Endereço</mat-label>
        <input type="text" matInput formControlName="endereco" required>
      </mat-form-field>
    </div>
  <div>
    <mat-form-field  appearance="fill" class="formulario_">
      <mat-label>Numero</mat-label>
      <input type="text" matInput formControlName="numero" required>
    </mat-form-field>
    <mat-form-field  appearance="fill" class="formulario_">
      <mat-label>CEP</mat-label>
      <input type="text" matInput formControlName="cep" required>
    </mat-form-field>
    <mat-form-field  appearance="fill" class="formulario_">
      <mat-label>Bairro</mat-label>
      <input type="text" matInput formControlName="bairro" required>
   </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="formulario_">
      <mat-label>Selecione o Sexo</mat-label>
      <mat-select formControlName="sexoId">
        <mat-option *ngFor="let tipo of sexo" [value]="tipo.sexoId">{{tipo.tipo}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="formulario">
      <mat-label>Data de Nascimento</mat-label>
      <input type="text" matInput formControlName="dataNascimento" required>
    </mat-form-field>
  </div>
<mat-divider></mat-divider>
<mat-card-actions>
  <button type="submit" mat-raised-button color="primary">Atualizar</button>
  <button mat-raised-button color="accent" (click)="Voltar()">Voltar</button>
</mat-card-actions>
</form>
</mat-card>
</div>
